<!DOCTYPE html>

<html>
    <head>
        <title>My Apps</title>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div>
                <h2>iOS</h2>
                <div>
                    <h3>ArtHaiku</h3>
                    <p>Developed to help local vancouverites find hidden works of art in their backyard</p>
                    <ul>
                        <li>Swift</li>
                        <li>UIKit, MapKit</li>
                        <li>CoreData</li>
                        <li>Vancouver's Local Art API</li>
                    </ul>
                </div>
                </br>
                <div>
                    <h3>RoomRabbit</h3>
                    <p>A housing platform intended to help students find affordable rentals.</p>
                    <ul>
                        <li>Swift, C#</li>
                        <li>UIKit, MapKit</li>
                        <li>ASP.net</li>
                        <li>AzureSQL</li>
                    </ul>
                </div>  
                </br> 
                <div>
                    <h3>PropDrop</h3>
                    <p>Designed for film technicians with a need to stay organized.</p>
                    <ul>
                        <li>Swift</li>
                        <li>UIKit</li>
                        <li>CoreData</li>
                    </ul>
                </div>  
                </br> 

                <h2>WebApplications</h2>
                <div>
                    <h3>Project Managment</h3>
                        <p>Managment system for employees, budgets, and timesheets.</p>
                        <ul>
                            <li>JSF / JEE / JPA</li>
                            <li>SQL</li>
                            <li>Wildfly</li>
                        </ul>
                    <h3>ASPect</h3>
                        <p>
                            An open source platform intended to help teachers and students with 
                            organization during COVID times
                        </p>
                        <ul>
                            <li>ASP.net Core</li>
                            <li>Blazor</li>
                            <li>SQL</li>
                        </ul>
                    <h3>TravisBlack.com</h3>
                        <p>A Personal Project, all about me! Travis Black</p>
                        <ul>
                            <li>HTML/CSS</li>
                            <li>node.js</li>
                            <li>Deployed using Digital Ocean</li>
                        </ul>

                </div>

            </div>
  
        </div>
        {{>footer}}
    </body>
</html>