<!DOCTYPE html>

<html>
    <head>
        <title>TicTacToe</title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel='stylesheet' href='/css/myApps.css'>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="flex-container">    
                <div class="flex-item">
                    <div class="flex-item-apps app-desc" >
                        <h4>ArtHaikuVancouver</h4>    
                            <p id="subtitle">Explore and Create</p>
                            <p>How does it work? Three Easy Steps</p>       
                            <ul>
                                <li>Step One: Find a public work of art that interests you on the map</li>
                                <li>Step Two: Find some inspiration in the art</li>
                                <li>Step Three: Write a haiku!</li>
                            </ul>
                            <p class="closing">Most importantly, have fun and be creative!</p>
                    </div>
            </div>
        </div>
        
        {{>footer}}
    </body>
</html>

