<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h3>Phone</h3>
            <h3>Email</h3>
            <h3>GitHub</h3>
            <h3>LinkedIn</h3>
        </div>
        
        {{>footer}}
    </body>
</html>