<!DOCTYPE html>

<html>
    <head>
        <title>DTR</title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel='stylesheet' href='/css/myApps.css'>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="flex-container">    
                <div class="flex-item">
                    <div class="flex-item-apps app-desc" >
                        <h4>DTR</h4>    
                            <p id="subtitle"> Making DTR and Timesheet creation a breeze </p>
                            <p>How to use it?</p>    
                            
                            <ul>
                                <li>Create a DTR</li>
                                <li>Create a Technician</li>
                                <li>Create a Shift</li>
                                <li>Create a PDF!</li>
                            </ul>

                            <p class="closing"></p>
                    </div>
            </div>
        </div>
        
        {{>footer}}
    </body>
</html>
 
