<!DOCTYPE html>

<html>
    <head>
        <title>TicTacToe</title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel='stylesheet' href='/css/myApps.css'>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="flex-container">    
                <div class="flex-item">
                    <div class="flex-item-apps app-desc" >
                        <h4>Elementary TicTactoe</h4>    
                            <p id="subtitle">A Classic, Built from the ground up</p>
                            <p>How to play?</p>       
                            <ul>
                                <li>Players take turns selecting squares on the board</li>
                                <li>One player is an X</li>
                                <li>The other, an O</li>
                                <li>First player to connect 3 in a row WINS!</li>
                                <li>(Vertically, horizontally, diagonally)</li>
                            </ul>
                            <p class="closing">Good luck and have fun!</p>
                    </div>
            </div>
        </div>
        
        {{>footer}}
    </body>
</html>
 