<!DOCTYPE html>

<html>
    <head>
        <title>TB</title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel='stylesheet' href='/css/resume.css'>
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <div>
                <h3>Who am I?</h3>
                <p id="whoAmI">Thanks for stopping by. I'm Travis Black, a Junior iOS developer. Practical experience developing and deploying projects in teams of various sizes, combined with an education at BCIT has prepared me for the workforce and challenges that lay ahead.</p>
            </div>
            
            <div>
                <h3>Technologies I'm Familiar With</h3> 

            <div class="row">
                <div class="column">
                    <div class="bc">
                        <h4>Programming Languages</h4>
                        <p>Swift</p>
                        <p>Java</p>
                        <p>C</p>
                        <p>C++</p>      
                    </div>
                </div>
                <div class="column">
                    <div class="rc">
                        <h4>Frameworks</h4>
                        <p>Node.js</p>
                        <p>ASP.net</p>
                        <p>JSF / EJB / JPA</p>
                        <p>HTML/CSS</p>
                        <p>UIKit</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="bc">
                            <h4>Tools and Platforms</h4>
                            <p>Visual Studio Code</p>
                            <p>XCode</p>
                            <p>macOS</p>
                            <p>git</p>
                    </div>
                </div>
                <div class="column">
                    <div class="rc">
                            <h4>Databases</h4>
                            <p>MySQL</p>
                            <p>Firebase</p>
                    </div>
                </div>
            </div>
            {{>footer}}
        </div>
    </body>
</html>