<!DOCTYPE html>

<html>
    <head>
        <title>TicTacToe</title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel='stylesheet' href='/css/myApps.css'>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="flex-container">    
                <div class="flex-item">
                    <div class="flex-item-apps app-desc" >
                        <h4>PropDrop</h4>    
                            <p id="subtitle"> Helping film technicians stay organized</p>
                            <p>How to use it?</p>    
                            
                            <ul>
                                <li>Create a show</li>
                                <li>Add an episode</li>
                                <li>Add a scene</li>
                                <li>Add a photo to the scene</li>
                            </ul>
                            <p class="closing"></p>
                    </div>
            </div>
        </div>
        
        {{>footer}}
    </body>
</html>
 