<!DOCTYPE html>

<html>
    <head>
        <title>Resume</title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel='stylesheet' href='/css/resume.css'>
    </head>

    <body>

        <div class="main-content">
            {{>header}}
            <p>{{resumeMessage}}</p>
            <div class="row">
                <div class="column">
                    <div class="bc">C1</div>
                </div>
                <div class="column">
                    <div class="rc">C2</div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="bc">C1</div>
                </div>
                <div class="column">
                    <div class="rc">C2</div>
                </div>
            </div>
        </div>
        {{>footer}} 
    </body>
</html>