<header>
    <h1> {{title}} </h1>
    <h2>Junior iOS Developer</h2>
    <a href="/">Home</a>
    <a href="/applications">My Apps</a>
    <a href="/privacyPolicy">Privacy Policy</a>
    <a href="/resume">Resume</a>
    <a href="/contact">Contact</a>
</header>