<header>
    <h1> {{title}} </h1>

    <a href="/">Home</a>
    <a href="/applications">Applications</a>
    <a href="/privacyPolicy">Privacy Policy</a>
    <a href="/resume">Resume</a>
    <a href="/contact">Contact</a>
</header>