.app-desc h3 {
    font-size: 1.75em;
    color: #333333;
}

.app-desc {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

li {
    line-height: 2em;
    font-size: .75em;
    list-style-type: none;
    padding-right: 2em;
}

.type-of-app {
    text-align: left; 
    width:100%; 
    font-size: 2.2em;
}

#subtitle {
    margin-top: 0px; 
    padding-top: 0px;
}

h4 {
    margin-bottom: 0px;
}

h4 + p {
    color: rebeccapurple;
}

#closing {
    margin-top: 10%;
}

.flex-item-apps {
    width: 100%;
    text-align: center;
}

.description {
    margin-top: 0px;
    margin-bottom: 6%;
}

@media all and (max-width: 1000px) {

}