.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .bc {
    height: 240px;
    text-align: center;
  }

  .rc {
    height: 240px;
    text-align:center;
  }