body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80%;
    margin: 0 auto;
    padding: 0, 16px;
}

h4 {
    font-size: 1.5em;
    color: slateblue;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.25em;
    color: slateblue;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 38px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

h1 {
    font-size: 4em;
    margin-bottom: 0px;
    margin-bottom: 8px;
    padding-bottom: 0px;
}

h2 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 5px;
    font-size: 3em;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

#whoAmI {
    line-height: 30px;
    font-size: 1em;
}

.app-desc {
    font-size: 2.5em;
    font-weight: 500;
}

h3 {
    font-size: 2em;
    color: slateblue;
}

li {
    font-size: 1em;
    line-height: 3vh;
} 

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.flex-item {
    width: 45%;
    padding: 2%;
}


a:link {
    text-decoration: none;
    color: #333333;
}

a:visited {
    color: #333333;;
}

a:hover {
    
}

a:active {
   
}

@media all and (max-width: 1000px) {

    body {
        color: #333333;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 90%;
        margin: 0 auto;
        padding: 0, 16px;
        display: flex;
        flex-direction: column;
    }

    /* #whoAmI {
        font-size: 2em;
        line-height: 1.5em;
    } */

    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
    }
    
    .flex-item {
        width: 100%;
    }
    footer {
        color: #888888;
        border-top: 1px solid #eeeeee;
        margin-top: 16px;
        padding: 16px 0;
        font-size: 1em;
    } 
}